Repository chan9yu/dev-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, type-check

eslint:
  run: pnpm exec eslint {staged_files} --fix
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

type-check:
  run: pnpm exec tsc --noEmit

feat: M2-01 contents/ Git Submodule 구성
  .gitmodules
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

feat: M2-02 Vercel private submodule workaround 스크립트
  CHANGELOG.md
  docs/TASKS.md
  scripts/vercel-submodule-workaround.sh
Due: prettier

feat: M2-03~11 파싱 파이프라인 TDD 구현
  package.json
  pnpm-lock.yaml
  src/features/posts/schemas/frontmatter.ts
  src/features/posts/utils/__tests__/calculateReadingTime.test.ts
  src/features/posts/utils/__tests__/extractTocFromMarkdown.test.ts
  src/features/posts/utils/__tests__/parseFrontmatter.test.ts
  src/features/posts/utils/calculateReadingTime.ts
  src/features/posts/utils/extractTocFromMarkdown.ts
  src/features/posts/utils/parseFrontmatter.ts
  src/shared/utils/__tests__/slugify.test.ts
  src/shared/utils/slugify.ts
  vitest.config.ts
Due: eslint, prettier, type-check

refactor: 배럴 정책 정합 및 Toc 컴포넌트 네이밍 통일
  src/app/posts/[slug]/page.tsx
  src/features/posts/components/Toc.tsx
  src/features/posts/components/index.ts
  src/features/posts/index.ts
Due: eslint, prettier, type-check

docs: M2-03~11 TASKS 체크박스 및 CHANGELOG 갱신
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

feat: M2-12~17 서비스 함수 TDD 구현
  CHANGELOG.md
  docs/TASKS.md
  src/features/posts/index.ts
  src/features/posts/services/__tests__/getAllPosts.test.ts
  src/features/posts/services/__tests__/getPostDetail.test.ts
  src/features/posts/services/getAllPosts.ts
  src/features/posts/services/getPostDetail.ts
  src/features/posts/services/index.ts
  src/features/posts/services/paths.ts
  src/features/posts/utils/__tests__/sortPostsByDateDescending.test.ts
  src/features/posts/utils/sortPostsByDateDescending.ts
Due: eslint, prettier, type-check

feat: M2-18~21 MDX 렌더링 파이프라인 구현
  scripts/copy-content-images.mjs
  src/app/posts/[slug]/page.tsx
  src/features/posts/components/Toc.tsx
  src/shared/components/mdx/CustomMDX.tsx
  src/shared/components/mdx/MdxImage.tsx
  src/shared/libs/shiki.ts
  src/shared/styles/shiki.css
  src/shared/types/post.ts
Due: eslint, prettier, type-check

chore: rehype-slug 추가 및 빌드 스크립트·gitignore 설정
  .gitignore
  package.json
  pnpm-lock.yaml
Due: prettier

docs: M2-18~21 TASKS 체크박스 및 CHANGELOG 갱신
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

fix: TOC 닫기 시 본문 너비 미확장 버그 수정
  src/features/posts/components/PostTocAside.tsx
  src/shared/styles/prose.css
Due: eslint, prettier, type-check

feat: 헤더 스크롤 경계선 scroll-driven animation 추가
  src/shared/components/layouts/Header.tsx
  src/shared/styles/animations.css
  src/shared/styles/globals.css
Due: eslint, prettier, type-check

style: PostCard 태그 pill 아웃라인 스타일로 변경
  src/features/posts/components/PostCard.tsx
Due: eslint, prettier, type-check

fix: slugify를 github-slugger 정합 방식으로 수정 및 TOC 파싱 개선
  src/features/posts/utils/extractTocFromMarkdown.ts
  src/shared/types/post.ts
  src/shared/utils/__tests__/slugify.test.ts
  src/shared/utils/slugify.ts
Due: eslint, prettier, type-check

refactor: CSS 리셋 @layer base 래핑 및 스타일 개선
  src/shared/styles/base.css
  src/shared/styles/shiki.css
  src/shared/styles/tokens.css
Due: prettier

feat: MDX 파이프라인 개선 및 Shiki 재시도 지원
  src/features/posts/services/getPostDetail.ts
  src/shared/components/mdx/CustomMDX.tsx
  src/shared/components/mdx/MdxHeading.tsx
  src/shared/components/mdx/MdxImage.tsx
  src/shared/libs/shiki.ts
Due: eslint, prettier, type-check

feat: getAllSeries·getAllTags 서비스 신규 도입
  src/features/series/index.ts
  src/features/series/services/getAllSeries.ts
  src/features/series/services/index.ts
  src/features/tags/index.ts
  src/features/tags/services/getAllTags.ts
  src/features/tags/services/index.ts
Due: eslint, prettier, type-check

feat: fixture 완전 제거 및 실 서비스 전환 (M2-22~24)
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/posts/[slug]/page.tsx
  src/app/posts/page.tsx
  src/app/series/[slug]/page.tsx
  src/app/series/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/features/posts/services/getPostBySlug.ts
  src/features/posts/services/getPublicPosts.ts
Due: eslint, prettier, type-check

refactor: ScrollToTop 공통 컴포넌트로 이동 및 레이아웃 전역 배치
  src/app/layout.tsx
  src/shared/components/common/ScrollToTop.tsx
Due: eslint, prettier, type-check

feat: RecentPostsList 추가 및 Toc 모바일 드로어 구현
  src/features/posts/components/PostMetaHeader.tsx
  src/features/posts/components/RecentPostsList.tsx
  src/features/posts/components/Toc.tsx
  src/features/posts/components/index.ts
  src/features/posts/index.ts
Due: eslint, prettier, type-check

chore: 소셜 링크 이메일 주소 수정
  src/shared/config/site.ts
Due: eslint, prettier, type-check

docs: M2-22~24 TASKS 체크박스 및 CHANGELOG 갱신
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

feat: 검색 모달 Fuse.js 연결 및 컴포넌트 분리
  package.json
  pnpm-lock.yaml
  src/features/posts/services/__tests__/getAllPosts.test.ts
  src/features/posts/services/__tests__/getPostDetail.test.ts
  src/features/posts/utils/__tests__/extractTocFromMarkdown.test.ts
  src/features/search/components/SearchButton.tsx
  src/features/search/components/SearchModal.tsx
  src/features/search/components/SearchResultItem.tsx
  src/features/search/components/SearchTrigger.tsx
  src/features/search/components/__tests__/SearchModal.test.tsx
  src/features/search/components/index.ts
  src/features/search/hooks/__tests__/useSearch.test.tsx
  src/features/search/hooks/index.ts
  src/features/search/hooks/useSearch.ts
  src/features/search/index.ts
  src/features/search/types/SearchResult.ts
  src/features/search/types/index.ts
  src/shared/test/setup.ts
  vitest.config.ts
Due: eslint, prettier, type-check

fix: Header 검색/테마 슬롯 이중 마운트 제거
  src/shared/components/layouts/Header.tsx
Due: eslint, prettier, type-check

docs: index.ts 배럴 re-export 전용 규칙 강화
  .claude/rules/components.md
  .claude/rules/typescript.md
Due: prettier

docs: M3-01~04 TASKS 체크박스 및 CHANGELOG 갱신
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

chore: .env.example 추가 및 gitignore 예외 설정
  .env.example
  .gitignore
Due: none

chore: MSW v2 devDependency 추가
  package.json
  pnpm-lock.yaml
Due: prettier

test: MSW 테스트 인프라 구축
  src/shared/test/msw/handlers.ts
  src/shared/test/msw/server.ts
  src/shared/test/setup.ts
Due: eslint, prettier, type-check

feat: KV 조회수 클라이언트 추가
  src/features/views/index.ts
  src/features/views/services/__tests__/kv-client.test.ts
  src/features/views/services/index.ts
  src/features/views/services/kv-client.ts
Due: eslint, prettier, type-check

docs: M3-05~06 TASKS 체크박스 및 CHANGELOG 갱신
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

feat: MOD-views KV 조회수 통합 완성
  CHANGELOG.md
  docs/TASKS.md
  src/app/api/views/__tests__/route.test.ts
  src/app/api/views/route.ts
  src/features/views/components/ViewCounter.tsx
  src/features/views/components/__tests__/ViewCounter.test.tsx
  src/features/views/hooks/index.ts
  src/features/views/hooks/useViews.ts
  src/features/views/index.ts
  src/features/views/services/index.ts
  src/features/views/services/kv-client.ts
Due: eslint, prettier, type-check

feat: MOD-comments Giscus 댓글 통합 완성
  CHANGELOG.md
  docs/TASKS.md
  src/app/posts/[slug]/page.tsx
  src/features/comments/components/CommentsSection.tsx
  src/features/comments/components/__tests__/CommentsSection.test.tsx
  src/features/comments/index.ts
Due: eslint, prettier, type-check

feat: MOD-theme useTheme wrapper + View Transitions persistence
  docs/TASKS.md
  src/features/theme/components/ThemeSwitcher.tsx
  src/features/theme/components/__tests__/ThemeSwitcher.test.tsx
  src/features/theme/hooks/index.ts
  src/features/theme/hooks/useTheme.ts
  src/features/theme/index.ts
Due: eslint, prettier, type-check

feat: MOD-lightbox Radix 기반 multi-image carousel
  src/app/providers.tsx
  src/features/lightbox/components/ImageLightbox.tsx
  src/features/lightbox/components/LightboxProvider.tsx
  src/features/lightbox/components/__tests__/ImageLightbox.test.tsx
  src/features/lightbox/contexts/LightboxContext.ts
  src/features/lightbox/index.ts
Due: eslint, prettier, type-check

test: M3-17~20 Posts AC characterization 테스트
  src/features/posts/components/__tests__/PostList.test.tsx
  src/features/posts/components/__tests__/PostMetaHeader.test.tsx
Due: eslint, prettier, type-check

feat: M3-21 빌드 파이프라인 통합 + M3 진행률 100%
  CHANGELOG.md
  docs/TASKS.md
  package.json
  src/features/posts/services/getAllPosts.ts
Due: eslint, prettier, type-check

fix: html data-scroll-behavior 속성 추가
  src/app/layout.tsx
Due: eslint, prettier, type-check

fix: RT-/api/views를 @vercel/kv 어댑터로 스왑
  package.json
  pnpm-lock.yaml
  src/app/api/views/__tests__/route.test.ts
  src/app/api/views/route.ts
  src/features/views/index.ts
Due: eslint, prettier, type-check

fix: MdxImage 라이트박스 onClick 연결
  src/shared/components/mdx/MdxImage.tsx
Due: eslint, prettier, type-check

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,mjs}
  prettier: any of: *.{js,ts,jsx,tsx,mjs,json,yaml,yml,md,css}
  type-check: any of: *.{ts,tsx}
