Repository chan9yu/dev-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, type-check

lefthook.yaml:

min_version: 2.0.0

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,mjs}"
      run: pnpm exec eslint {staged_files} --fix
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,mjs,json,yaml,yml,md,css}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit

prepare-commit-msg:
  commands:
    template:
      run: node scripts/commit-msg.mjs {1}

fix: CI에서 search-index.json prebuild emit (typecheck 통과)
  .github/workflows/ci.yaml
Due: prettier

fix: v1.1.2 — cacheComponents=false + build-time JSON pre-bake로 production streaming stuck 해결
  .claude/rules/no-fallback.md
  .github/workflows/ci.yaml
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/AI_WORKFLOW_GUIDE.md
  next.config.ts
  package.json
  scripts/build-search-index.mjs
  src/app/layout.tsx
  src/app/og/route.tsx
  src/app/posts/page.tsx
  src/app/rss/route.ts
  src/shared/components/mdx/CustomMDX.tsx
Due: eslint, prettier, type-check

chore: scripts/build-search-index over-engineering 제거
  .github/workflows/ci.yaml
  .gitignore
  next.config.ts
  scripts/build-search-index.mjs
  src/app/layout.tsx
  src/app/posts/page.tsx
  src/app/providers.tsx
Due: eslint, prettier, type-check

fix: /api/views KV sync throw + React #418 hydration mismatch 본질 fix
  src/app/api/views/route.ts
  src/features/posts/components/PostList.tsx
  src/features/posts/components/__tests__/PostList.test.tsx
  src/features/theme/hooks/useTheme.ts
  src/shared/components/common/PageTransition.tsx
  src/shared/hooks/useHydrated.ts
Due: eslint, prettier, type-check

feat: SEO·a11y Tier 2 + Next.js 16 best practice 정렬
  src/app/manifest.ts
  src/app/og/route.tsx
  src/app/page.tsx
  src/app/sitemap-entries.ts
  src/app/tags/[tag]/page.tsx
  src/features/comments/components/CommentsSection.tsx
  src/features/posts/components/ViewToggle.tsx
  src/features/posts/schemas/frontmatter.ts
  src/features/search/components/SearchModal.tsx
  src/shared/components/mdx/MdxImage.tsx
  src/shared/types/post.ts
Due: eslint, prettier, type-check

chore: 17개 룰 동기화 + comments.md 신규 + react.md hydration
  .claude/rules/comments.md
  .claude/rules/react.md
  CLAUDE.md
  README.md
  docs/AI_WORKFLOW_GUIDE.md
Due: prettier

chore: release v1.1.3
  CHANGELOG.md
  package.json
Due: prettier

release: v1.1.3 — production hotfix 후속 + best practice audit + a11y Tier 2 (#29)
  .claude/rules/comments.md
  .claude/rules/react.md
  .github/workflows/ci.yaml
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/AI_WORKFLOW_GUIDE.md
  next.config.ts
  package.json
  scripts/build-search-index.mjs
  src/app/api/views/route.ts
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/og/route.tsx
  src/app/page.tsx
  src/app/posts/page.tsx
  src/app/providers.tsx
  src/app/sitemap-entries.ts
  src/app/tags/[tag]/page.tsx
  src/features/comments/components/CommentsSection.tsx
  src/features/posts/components/PostList.tsx
  src/features/posts/components/ViewToggle.tsx
  src/features/posts/components/__tests__/PostList.test.tsx
  src/features/posts/schemas/frontmatter.ts
  src/features/search/components/SearchModal.tsx
  src/features/theme/hooks/useTheme.ts
  src/shared/components/common/PageTransition.tsx
  src/shared/components/mdx/MdxImage.tsx
  src/shared/hooks/useHydrated.ts
  src/shared/types/post.ts
Due: eslint, prettier, type-check

fix: Giscus 댓글 매칭 (Discussion posts/{slug} prefix) #30
  src/features/comments/components/CommentsSection.tsx
  src/features/comments/components/__tests__/CommentsSection.test.tsx
Due: eslint, prettier, type-check

fix: ViewToggle hydration mismatch (useHydrated 게이팅)
  src/features/posts/components/ViewToggle.tsx
Due: eslint, prettier, type-check

fix: Header sticky 회귀 (relative → sticky)
  src/shared/components/layouts/Header.tsx
Due: eslint, prettier, type-check

feat: Footer 배포 버전 UI + 자동 GitHub Release workflow
  .github/workflows/release.yaml
  src/shared/components/layouts/Footer.tsx
  src/shared/config/site.ts
Due: eslint, prettier, type-check

chore: release v1.1.4
  CHANGELOG.md
  package.json
Due: prettier

release: v1.1.4 — Giscus 댓글·React #418·Header sticky hotfix + 자동 release workflow (#31)
  .github/workflows/release.yaml
  CHANGELOG.md
  package.json
  src/features/comments/components/CommentsSection.tsx
  src/features/comments/components/__tests__/CommentsSection.test.tsx
  src/features/posts/components/ViewToggle.tsx
  src/shared/components/layouts/Footer.tsx
  src/shared/components/layouts/Header.tsx
  src/shared/config/site.ts
Due: eslint, prettier, type-check

feat: frontmatter SEO 빌드 게이트 신설
  package.json
  scripts/validate-frontmatter-seo.mjs
Due: eslint, prettier

feat: BlogPosting/article OG dateModified 정합
  src/app/posts/[slug]/page.tsx
Due: eslint, prettier, type-check

refactor: dead config siteMetadata.ogImage 제거
  src/shared/config/site.ts
Due: eslint, prettier, type-check

docs: SEO 룰·워크플로우 회고 정리 + 외부 인프라 가이드 신설
  .claude/agents/content/seo-auditor.md
  .claude/rules/seo.md
  docs/AI_WORKFLOW_GUIDE.md
  docs/SEO_EXTERNAL.md
Due: prettier

chore: ai-seo·programmatic-seo·seo-audit 보조 스킬 등록
  .claude/skills/ai-seo/SKILL.md
  .claude/skills/ai-seo/evals/evals.json
  .claude/skills/ai-seo/references/content-patterns.md
  .claude/skills/ai-seo/references/platform-ranking-factors.md
  .claude/skills/programmatic-seo/SKILL.md
  .claude/skills/programmatic-seo/evals/evals.json
  .claude/skills/programmatic-seo/references/playbooks.md
  .claude/skills/seo-audit/SKILL.md
  .claude/skills/seo-audit/evals/evals.json
  .claude/skills/seo-audit/references/ai-writing-detection.md
  .claude/skills/seo-audit/references/international-seo.md
Due: prettier

chore: contents submodule pointer + CHANGELOG [Unreleased] 갱신
  CHANGELOG.md
Due: prettier

fix: CHANGELOG SEO 보조 스킬 기록 정정 + 자기 기술 카운트 동기화
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/AI_WORKFLOW_GUIDE.md
Due: prettier

feat: SEO 보조 스킬 3종 description 한글 도메인 키워드 보강
  .claude/skills/ai-seo/SKILL.md
  .claude/skills/programmatic-seo/SKILL.md
  .claude/skills/seo-audit/SKILL.md
Due: prettier

revert: meta-consistency 자동 검증 게이트 제거 (도입 즉시 보류)
  CLAUDE.md
  README.md
  docs/AI_WORKFLOW_GUIDE.md
  docs/PRD_TECHNICAL.md
Due: prettier

chore: release v1.1.5 — SEO 정합성 강화 사이클
  CHANGELOG.md
  package.json
Due: prettier

chore: release v1.1.5 — SEO 정합성 강화 사이클 (#32)
  .claude/agents/content/seo-auditor.md
  .claude/rules/seo.md
  .claude/skills/ai-seo/SKILL.md
  .claude/skills/ai-seo/evals/evals.json
  .claude/skills/ai-seo/references/content-patterns.md
  .claude/skills/ai-seo/references/platform-ranking-factors.md
  .claude/skills/programmatic-seo/SKILL.md
  .claude/skills/programmatic-seo/evals/evals.json
  .claude/skills/programmatic-seo/references/playbooks.md
  .claude/skills/seo-audit/SKILL.md
  .claude/skills/seo-audit/evals/evals.json
  .claude/skills/seo-audit/references/ai-writing-detection.md
  .claude/skills/seo-audit/references/international-seo.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/AI_WORKFLOW_GUIDE.md
  docs/PRD_TECHNICAL.md
  docs/SEO_EXTERNAL.md
  package.json
  scripts/validate-frontmatter-seo.mjs
  src/app/posts/[slug]/page.tsx
  src/shared/config/site.ts
Due: eslint, prettier, type-check

fix(security): /og Open Redirect 차단 (CWE-601 allowlist)
  src/app/og/route.tsx
Due: eslint, prettier, type-check

feat: getSiteUrl NEXT_PUBLIC_SITE_URL 우선 + production https 강제
  src/shared/config/site.ts
Due: eslint, prettier, type-check

refactor: theme_color → siteMetadata.themeColor 단일 출처 통합
  src/app/manifest.ts
Due: eslint, prettier, type-check

chore: 미사용 ScrollToTopButton 제거 (사용처 0건)
  src/shared/components/common/ScrollToTopButton.tsx
Due: eslint, prettier, type-check

fix(ui): shadcn Button + native button cursor-pointer baseline
  src/features/lightbox/components/ImageLightbox.tsx
  src/features/search/components/SearchButton.tsx
  src/features/theme/components/ThemeSwitcher.tsx
  src/shared/components/mdx/MdxPre.tsx
  src/shared/components/ui/Button.tsx
Due: eslint, prettier, type-check

fix(ui): Footer v{APP_VERSION} 좌측 하단 분리 배치
  src/shared/components/layouts/Footer.tsx
Due: eslint, prettier, type-check

chore: release v1.1.5 — 누락분 + post-merge hotfix bundle 흡수 (#33)
  src/app/manifest.ts
  src/app/og/route.tsx
  src/features/lightbox/components/ImageLightbox.tsx
  src/features/search/components/SearchButton.tsx
  src/features/theme/components/ThemeSwitcher.tsx
  src/shared/components/common/ScrollToTopButton.tsx
  src/shared/components/layouts/Footer.tsx
  src/shared/components/mdx/MdxPre.tsx
  src/shared/components/ui/Button.tsx
  src/shared/config/site.ts
Due: eslint, prettier, type-check

fix: build version badge viewport fixed bottom-left
  src/shared/components/layouts/Footer.tsx
Due: eslint, prettier, type-check

chore: release v1.1.6
  CHANGELOG.md
  package.json
Due: prettier

chore: release v1.1.6 — build version badge fixed positioning hotfix (#34)
  CHANGELOG.md
  package.json
  src/shared/components/layouts/Footer.tsx
Due: eslint, prettier, type-check

fix: hide build version badge on mobile viewport
  src/shared/components/layouts/Footer.tsx
Due: eslint, prettier, type-check

chore: PostList 기본 grid + 첫 카드 layout 일관성 회복
  src/features/posts/components/PostList.tsx
  src/features/posts/components/ViewToggle.tsx
  src/features/posts/hooks/useViewMode.ts
Due: eslint, prettier, type-check

fix: ImageLightbox 좌우 슬라이드 애니메이션 + 작은 이미지 깨짐 차단
  src/features/lightbox/components/ImageLightbox.tsx
  src/shared/styles/globals.css
Due: eslint, prettier, type-check

chore: release v1.1.7
  CHANGELOG.md
  package.json
Due: prettier

docs: v1.1.7 사이클 + GSC Audit + 자가진화 사례 동기화
  README.md
  docs/AI_WORKFLOW_GUIDE.md
  docs/SEO_EXTERNAL.md
  docs/TASKS.md
Due: prettier
