Repository chan9yu/dev-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, type-check

eslint:
  run: pnpm exec eslint {staged_files} --fix
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

type-check:
  run: pnpm exec tsc --noEmit

docs: M0 Foundation 33/33 완료 반영 및 드리프트 제거
  CHANGELOG.md
  CLAUDE.md
  docs/AI_WORKFLOW_GUIDE.md
  docs/ROADMAP.md
  docs/TASKS.md
Due: prettier

feat: M1-01~05 fixture 데이터 레이어 구축
  CHANGELOG.md
  docs/TASKS.md
  src/shared/fixtures/index.ts
  src/shared/fixtures/post-details.ts
  src/shared/fixtures/posts.ts
  src/shared/fixtures/series.ts
  src/shared/fixtures/tags.ts
  src/shared/fixtures/trending.ts
  src/shared/types/index.ts
  src/shared/types/post.ts
  src/shared/types/series.ts
  src/shared/types/tag.ts
  src/shared/types/trending.ts
Due: eslint, prettier, type-check

docs: thumbnail 규약을 실데이터와 일치시키도록 일관화
  .claude/rules/mdx-content.md
  .claude/rules/seo.md
  docs/PRD_PRODUCT.md
Due: prettier

feat: MOD-posts 공개 API 뼈대 추가
  src/features/posts/index.ts
Due: eslint, prettier, type-check

feat: MOD-tags 공개 API 뼈대 추가
  src/features/tags/index.ts
Due: eslint, prettier, type-check

feat: MOD-series 공개 API 뼈대 추가
  src/features/series/index.ts
Due: eslint, prettier, type-check

feat: MOD-search 공개 API 뼈대 추가
  src/features/search/index.ts
Due: eslint, prettier, type-check

feat: MOD-views 공개 API 뼈대 추가
  src/features/views/index.ts
Due: eslint, prettier, type-check

feat: MOD-comments 공개 API 뼈대 추가
  src/features/comments/index.ts
Due: eslint, prettier, type-check

feat: MOD-theme 공개 API 뼈대 추가
  src/features/theme/index.ts
Due: eslint, prettier, type-check

feat: MOD-lightbox 공개 API 뼈대 추가
  src/features/lightbox/index.ts
Due: eslint, prettier, type-check

feat: MOD-about 공개 API 뼈대 추가
  src/features/about/index.ts
Due: eslint, prettier, type-check

docs: M1-06~14 진행률 및 CHANGELOG 반영
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

feat: M1-15 공통 타입 본편 완성 (AdjacentPosts·RelatedPost)
  CHANGELOG.md
  docs/TASKS.md
  src/features/posts/index.ts
  src/shared/types/index.ts
  src/shared/types/post.ts
Due: eslint, prettier, type-check

chore: dayjs 도입 및 썸네일 placeholder 리소스 추가
  package.json
  pnpm-lock.yaml
  public/posts/placeholder.svg
  src/shared/utils/formatDate.ts
Due: eslint, prettier, type-check

feat: 홈 Hero 및 사이드바·카드 UI 컴포넌트 5종 추가
  src/app/HomeHero.tsx
  src/features/posts/components/PopularPosts.tsx
  src/features/posts/components/PostCard.tsx
  src/features/posts/components/index.ts
  src/features/posts/index.ts
  src/features/series/components/TrendingSeries.tsx
  src/features/series/components/index.ts
  src/features/series/index.ts
  src/features/tags/components/TrendingTags.tsx
  src/features/tags/components/index.ts
  src/features/tags/index.ts
Due: eslint, prettier, type-check

feat: 홈 반응형 2-column 레이아웃 조립
  src/app/page.tsx
Due: eslint, prettier, type-check

docs: M1-16~21 홈 FEAT-HOME 진행률 및 CHANGELOG 반영
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

chore: M1-61 shadcn primitives 추가 및 컨벤션 정리
  package.json
  pnpm-lock.yaml
  src/shared/ui/Accordion.tsx
  src/shared/ui/Badge.tsx
  src/shared/ui/Dialog.tsx
  src/shared/ui/DropdownMenu.tsx
  src/shared/ui/Sonner.tsx
Due: eslint, prettier, type-check

feat: M1-22~27 포스트 목록 UI 완성 및 썸네일 리졸버 서버 유틸 분리
  docs/TASKS.md
  src/app/page.tsx
  src/app/posts/page.tsx
  src/features/posts/components/PostCard.tsx
  src/features/posts/components/PostList.tsx
  src/features/posts/components/PostListSkeleton.tsx
  src/features/posts/components/index.ts
  src/features/posts/index.ts
  src/shared/utils/resolveThumbnail.ts
Due: eslint, prettier, type-check

feat: M1-28~43 포스트 상세 UI + MDX 컴포넌트 세트 완성
  docs/TASKS.md
  src/app/posts/[slug]/page.tsx
  src/features/posts/components/PostMetaHeader.tsx
  src/features/posts/components/PostNavigation.tsx
  src/features/posts/components/ReadingProgress.tsx
  src/features/posts/components/RelatedPosts.tsx
  src/features/posts/components/ScrollToTop.tsx
  src/features/posts/components/ShareButtons.tsx
  src/features/posts/components/Toc.tsx
  src/features/posts/components/index.ts
  src/features/posts/index.ts
  src/features/series/components/SeriesNavigation.tsx
  src/features/series/components/index.ts
  src/features/series/index.ts
  src/shared/components/ScrollReset.tsx
  src/shared/components/mdx/Callout.tsx
  src/shared/components/mdx/CustomMDX.tsx
  src/shared/components/mdx/MdxHeading.tsx
  src/shared/components/mdx/MdxImage.tsx
  src/shared/components/mdx/MdxLink.tsx
  src/shared/components/mdx/MdxPre.tsx
  src/shared/components/mdx/MdxTable.tsx
  src/shared/components/mdx/index.ts
Due: eslint, prettier, type-check

feat: M1-44~49 태그·시리즈 페이지 + TagChip 컴포넌트 완성
  docs/TASKS.md
  src/app/series/[slug]/page.tsx
  src/app/series/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/features/tags/components/TagChip.tsx
  src/features/tags/components/index.ts
  src/features/tags/index.ts
Due: eslint, prettier, type-check

feat: M1-50~54 About + 검색 + Header/Footer 통합
  docs/TASKS.md
  src/app/about/page.tsx
  src/app/layout.tsx
  src/features/about/components/AboutProfile.tsx
  src/features/about/components/index.ts
  src/features/about/index.ts
  src/features/search/components/SearchTrigger.tsx
  src/features/search/components/index.ts
  src/features/search/hooks/index.ts
  src/features/search/hooks/useSearchShortcut.ts
  src/features/search/index.ts
Due: eslint, prettier, type-check

feat: M1-55~60 조회수·테마·라이트박스·댓글·모션 placeholder 완성 — M1 마일스톤 100%
  CHANGELOG.md
  docs/TASKS.md
  src/app/layout.tsx
  src/app/posts/[slug]/page.tsx
  src/features/comments/components/CommentsSection.tsx
  src/features/comments/components/index.ts
  src/features/comments/index.ts
  src/features/lightbox/components/ImageLightbox.tsx
  src/features/lightbox/components/LightboxProvider.tsx
  src/features/lightbox/components/index.ts
  src/features/lightbox/index.ts
  src/features/posts/components/PostMetaHeader.tsx
  src/features/theme/components/ThemeSwitcher.tsx
  src/features/theme/components/index.ts
  src/features/theme/index.ts
  src/features/views/components/ViewCounter.tsx
  src/features/views/components/index.ts
  src/features/views/index.ts
  src/shared/components/FadeInWhenVisible.tsx
  src/shared/components/PageTransition.tsx
Due: eslint, prettier, type-check

chore: shadcn primitives의 arbitrary Tailwind 유틸 canonical 교체 + shadcn.md 후처리 절차 보강
  .claude/rules/shadcn.md
  src/shared/ui/Accordion.tsx
  src/shared/ui/Badge.tsx
  src/shared/ui/Dialog.tsx
  src/shared/ui/DropdownMenu.tsx
Due: eslint, prettier, type-check

feat: chan9yu.dev 프로덕션 디자인 이식 1차 — Header·Footer·Hero·Posts 레이아웃 정합
  .claude/scheduled_tasks.lock
  home-1920-centered.png
  home-1920-fixed.png
  home-1920.png
  home-centered.png
  home-final-viewport.png
  home-fnv.png
  home-full.png
  home-match-full.png
  home-match.png
  home-rollback.png
  home-viewport-2.png
  home-viewport-3.png
  home-viewport.png
  prod-home-full.png
  prod-home-viewport.png
  public/posts/placeholders/cover-1.svg
  public/posts/placeholders/cover-2.svg
  public/posts/placeholders/cover-3.svg
  public/posts/placeholders/cover-4.svg
  public/posts/placeholders/cover-5.svg
  src/app/HomeHero.tsx
  src/app/page.tsx
  src/app/posts/page.tsx
  src/app/tags/[tag]/page.tsx
  src/features/.gitkeep
  src/features/posts/components/PostCard.tsx
  src/features/posts/components/PostList.tsx
  src/features/tags/components/TagList.tsx
  src/features/tags/components/index.ts
  src/features/tags/index.ts
  src/shared/components/Container.tsx
  src/shared/components/Footer.tsx
  src/shared/components/Header.tsx
  src/shared/components/NavLink.tsx
  src/shared/components/SocialLinks.tsx
  src/shared/config/site.ts
  src/shared/styles/base.css
  src/shared/utils/resolveThumbnail.ts
Due: eslint, prettier, type-check

feat: chan9yu.dev 디자인 이식 2차 — 포스트 상세·시리즈·태그·About 전 페이지 레이아웃 정합
  src/app/posts/[slug]/page.tsx
  src/app/series/[slug]/page.tsx
  src/app/series/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/features/about/components/AboutProfile.tsx
  src/features/posts/components/PostMetaHeader.tsx
Due: eslint, prettier, type-check

feat: 사이드바·PostList 디테일 레거시 정합
  src/features/posts/components/PopularPosts.tsx
  src/features/posts/components/PostList.tsx
  src/features/series/components/TrendingSeries.tsx
Due: eslint, prettier, type-check

feat: Toc 레거시 TableOfContents 디자인 정합
  src/features/posts/components/Toc.tsx
Due: eslint, prettier, type-check

feat: ShareButtons 단일 공유 버튼 + SeriesNavigation 카드 레이아웃 정합
  src/features/posts/components/ShareButtons.tsx
  src/features/series/components/SeriesNavigation.tsx
Due: eslint, prettier, type-check

feat: PostNavigation·RelatedPosts 레거시 디자인 정합
  src/features/posts/components/PostNavigation.tsx
  src/features/posts/components/RelatedPosts.tsx
Due: eslint, prettier, type-check

feat: SearchModal 상세 디자인·PostCard padding 레거시 정합
  src/features/posts/components/PostCard.tsx
  src/features/search/components/SearchTrigger.tsx
Due: eslint, prettier, type-check

feat: ReadingProgress·ScrollToTop·ViewCounter 레거시 인터랙션 정합
  src/features/posts/components/ReadingProgress.tsx
  src/features/posts/components/ScrollToTop.tsx
  src/features/views/components/ViewCounter.tsx
Due: eslint, prettier, type-check

feat: CommentsSection 레거시 스타일 정합 — border-t + 타이포 강화
  src/features/comments/components/CommentsSection.tsx
Due: eslint, prettier, type-check

feat: layout에 MobileMenu 주입 — 모바일 내비게이션 실제 노출
  src/app/layout.tsx
Due: eslint, prettier, type-check

chore: 에이전트 모델 역할 기반 3계층 라우팅 적용
  .claude/agents/content/content-engineer.md
  .claude/agents/content/seo-auditor.md
  .claude/agents/developer/nextjs-app-router-expert.md
  .claude/agents/developer/nextjs-markup-specialist.md
  .claude/agents/documentation/docs-generator.md
  .claude/agents/quality/a11y-auditor.md
  .claude/agents/quality/compound-reviewer.md
  .claude/agents/quality/garbage-collector.md
  .claude/agents/quality/nextjs-test-engineer.md
  .claude/agents/quality/react-nextjs-code-reviewer.md
Due: prettier

chore: 루트 스크린샷·임시 락 파일 삭제
  .claude/scheduled_tasks.lock
  home-1920-centered.png
  home-1920-fixed.png
  home-1920.png
  home-centered.png
  home-final-viewport.png
  home-fnv.png
  home-full.png
  home-match-full.png
  home-match.png
  home-rollback.png
  home-viewport-2.png
  home-viewport-3.png
  home-viewport.png
  prod-home-full.png
  prod-home-viewport.png
Due: none

chore: 의존성·빌드 설정 업데이트
  components.json
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier, type-check

chore: 하네스 에이전트·규칙 ESCALATE 섹션 추가
  .claude/agents/developer/nextjs-app-router-expert.md
  .claude/agents/quality/boundary-mismatch-qa.md
  .claude/agents/quality/nextjs-test-engineer.md
  .claude/agents/quality/react-nextjs-code-reviewer.md
  .claude/rules/project-structure.md
  .claude/rules/typescript.md
Due: prettier

docs: CLAUDE.md 진행률 제거·CHANGELOG·문서 갱신
  CHANGELOG.md
  CLAUDE.md
  docs/AI_WORKFLOW_GUIDE.md
  docs/ROADMAP.md
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,mjs}
  prettier: any of: *.{js,ts,jsx,tsx,mjs,json,yaml,yml,md,css}
  type-check: any of: *.{ts,tsx}
