Repository chan9yu/dev-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, type-check

eslint:
  run: pnpm exec eslint {staged_files} --fix
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

type-check:
  run: pnpm exec tsc --noEmit

chore: workflow.md squash 금지 + PR 전 main 동기화 룰 격상
  .claude/rules/workflow.md
Due: prettier

chore: next 16.2.6 / react 19.2.6 patch 업데이트
  package.json
  pnpm-lock.yaml
Due: prettier

fix: 모바일에서 MDX 테이블이 한 글자씩 wrap되는 회귀 차단
  src/shared/components/mdx/MdxTable.tsx
  src/shared/styles/prose.css
Due: eslint, prettier, type-check

chore: release v1.1.8 — 모바일 MDX 테이블 wrap 회귀 hotfix
  CHANGELOG.md
  package.json
Due: prettier

feat: raster 파일을 base64 data URI로 변환하는 fileToDataUri 유틸 추가
  src/shared/utils/__tests__/fileToDataUri.test.ts
  src/shared/utils/fileToDataUri.ts
Due: eslint, prettier, type-check

feat: 뱃지 설정·검증(BADGE_PALETTE, parseBadgeIndex, isBadgeTheme) 추가
  src/shared/config/__tests__/badge.test.ts
  src/shared/config/badge.ts
Due: eslint, prettier, type-check

feat: 글 썸네일을 카드용 data URI로 해석하는 resolveCardImageDataUri 추가
  src/shared/utils/__tests__/resolveCardImageDataUri.test.ts
  src/shared/utils/resolveCardImageDataUri.ts
Due: eslint, prettier, type-check

feat: 뱃지 카드용 Pretendard 정적 OTF + loadBadgeFonts 추가
  public/fonts/Pretendard-Bold.otf
  public/fonts/Pretendard-Regular.otf
  src/shared/config/__tests__/badge-fonts.test.ts
  src/shared/config/badge.ts
Due: eslint, prettier, type-check

feat: /badge/recent/[index] 최신 글 리다이렉트 라우트 추가
  src/app/badge/recent/[index]/__tests__/route.test.ts
  src/app/badge/recent/[index]/route.ts
Due: eslint, prettier, type-check

feat: /badge/recent/[index]/[theme] 카드 이미지 라우트 추가
  src/app/badge/recent/[index]/[theme]/__tests__/route.test.ts
  src/app/badge/recent/[index]/[theme]/route.tsx
Due: eslint, prettier, type-check

fix: 뱃지 카드 Satori img에 alt="" 추가 — jsx-a11y 경고 제거
  src/app/badge/recent/[index]/[theme]/route.tsx
Due: eslint, prettier, type-check

fix: 뱃지 카드 레이아웃 — 제목/날짜 겹침 해소 + 썸네일 없는 글 상단 브랜드 표시
  src/app/badge/recent/[index]/[theme]/route.tsx
  src/shared/config/badge.ts
Due: eslint, prettier, type-check

fix: 뱃지 라우트 최종 리뷰 반영 — dynamicParams=false + 정리
  src/app/badge/recent/[index]/[theme]/route.tsx
  src/app/badge/recent/[index]/route.ts
  src/shared/config/badge.ts
  src/shared/utils/__tests__/resolveCardImageDataUri.test.ts
  src/shared/utils/resolveCardImageDataUri.ts
Due: eslint, prettier, type-check

chore: release v1.2.0 — GitHub README 최근 글 뱃지 라우트
  CHANGELOG.md
  package.json
Due: prettier

fix: 이름만 바꾼 이미지가 복사에서 빠지던 것을 고친다
  scripts/copy-images.mjs
Due: eslint, prettier

feat: 본문 이미지 높이에 상한을 둔다
  src/app/styles/globals.css
  src/widgets/mdx-content/ui/MdxImage.tsx
Due: eslint, prettier, type-check

feat: 볼드만 있는 문단을 소제목으로 세운다
  src/app/styles/prose.css
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,mjs}
  prettier: any of: *.{js,ts,jsx,tsx,mjs,json,yaml,yml,md,css}
  type-check: any of: *.{ts,tsx}
