Repository chan9yu/dev-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, type-check

eslint:
  run: pnpm exec eslint {staged_files} --fix
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

type-check:
  run: pnpm exec tsc --noEmit

chore: 컨텐츠 서브모듈 저장소 변경 및 브랜치 추적 설정
  .gitmodules
Due: none

chore: Node.js 및 pnpm 버전 업데이트
  .nvmrc
  package.json
Due: prettier

chore: 컨텐츠 서브모듈 업데이트 및 .gitignore 정리
  .gitignore
Due: none

chore: Next.js 16 기반 프로젝트 초기 셋업
  .editorconfig
  .gitignore
  LICENSE
  README.md
  eslint.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/commit-template.txt
  src/app/layout.tsx
  src/app/page.tsx
  src/features/.gitkeep
  src/shared/styles/globals.css
  tsconfig.json
Due: eslint, prettier, type-check

chore: .gitignore 및 .prettierignore 설정 업데이트
  .gitignore
  .prettierignore
Due: none

chore: Claude Code 프로젝트 규칙 및 에이전트 설정 추가
  .claude/agents/developer/nextjs-app-router-expert.md
  .claude/agents/developer/nextjs-markup-specialist.md
  .claude/agents/planning/prd-roadmap-architect.md
  .claude/agents/planning/prd-tech-validator.md
  .claude/agents/planning/prd-writer.md
  .claude/agents/quality/a11y-auditor.md
  .claude/agents/quality/boundary-mismatch-qa.md
  .claude/agents/quality/nextjs-test-engineer.md
  .claude/agents/quality/react-nextjs-code-reviewer.md
  .claude/rules/a11y.md
  .claude/rules/components.md
  .claude/rules/project-structure.md
  .claude/rules/react.md
  .claude/rules/shadcn.md
  .claude/rules/styling.md
  .claude/rules/testing.md
  .claude/rules/theme.md
  .claude/rules/typescript.md
  .claude/rules/workflow.md
  .claude/settings.json
Due: prettier

chore: shadcn CLI 의존성 및 pnpm workspace 설정 추가
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

docs: Product PRD 및 Engineering PRD 추가
  docs/PRD_PRODUCT.md
  docs/PRD_TECHNICAL.md
Due: prettier

chore: MCP 서버 설정 추가 (.mcp.json)
  .mcp.json
Due: prettier

docs: 아이콘 시스템을 lucide-react로 전환
  docs/PRD_TECHNICAL.md
Due: prettier

docs: 개발 로드맵 및 태스크 체크리스트 추가
  docs/ROADMAP.md
  docs/TASKS.md
Due: prettier

docs: CLAUDE.md 추가 (Claude Code 온보딩)
  CLAUDE.md
Due: prettier

feat: 컴파운드 엔지니어링 하네스 구축
  .claude/agents/content/content-engineer.md
  .claude/agents/content/seo-auditor.md
  .claude/agents/documentation/docs-generator.md
  .claude/agents/orchestration/blog-dev-orchestrator.md
  .claude/agents/quality/compound-reviewer.md
  .claude/agents/quality/garbage-collector.md
  .claude/rules/autonomy.md
  .claude/rules/mdx-content.md
  .claude/rules/seo.md
  .claude/skills/blog-dev/references/project-context.md
  .claude/skills/blog-dev/skill.md
  .claude/skills/compound-engineering/skill.md
  .claude/skills/content-writing/references/frontmatter-schema.md
  .claude/skills/content-writing/skill.md
  .claude/skills/garbage-collection/references/rule-violations.md
  .claude/skills/garbage-collection/skill.md
  .claude/skills/milestone-gate/skill.md
  .claude/skills/task-completion/skill.md
  .gitignore
Due: prettier

refactor: Git 브랜치 전략 반영 및 레거시 참조 교정
  .claude/commands/git/branch.md
  .claude/commands/git/merge.md
  .claude/commands/git/pr.md
  .claude/commands/review/quality.md
  .claude/commands/test/e2e.md
  .claude/rules/workflow.md
  CLAUDE.md
Due: prettier

docs: AI 워크플로우 가이드 추가 및 README 개편
  README.md
  docs/AI_WORKFLOW_GUIDE.md
Due: prettier

chore: workflow 규칙에 커밋 scope 괄호 표기 금지 명시
  .claude/rules/workflow.md
Due: prettier

feat: Semantic 색상/토큰 CSS 일원화
  src/shared/styles/tokens.css
Due: prettier

feat: 기반 스타일 5종 추가
  src/shared/styles/animations.css
  src/shared/styles/base.css
  src/shared/styles/prose.css
  src/shared/styles/scrollbar.css
  src/shared/styles/shiki.css
Due: prettier

feat: Tailwind @theme 연결 및 Typography scale 정의
  src/shared/styles/globals.css
Due: prettier

feat: cn() 유틸 및 clsx/tailwind-merge 의존성 추가
  package.json
  pnpm-lock.yaml
  src/shared/utils/cn.ts
Due: eslint, prettier, type-check

docs: M0-01~06 진행률 갱신 및 CHANGELOG 추가
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

feat: lucide-react 설치 및 아이콘 사용 규약 추가
  .claude/rules/icons.md
  package.json
  pnpm-lock.yaml
Due: prettier

docs: M0-07~08 진행률 갱신 및 CHANGELOG 업데이트
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

chore: shadcn 초기화 및 Sheet Compound 컴포넌트 도입
  components.json
  package.json
  pnpm-lock.yaml
  src/shared/styles/globals.css
  src/shared/ui/Sheet.tsx
Due: eslint, prettier, type-check

chore: 하네스 REVIEW 강제 및 스타일·shadcn 룰 보강
  .claude/rules/project-structure.md
  .claude/rules/review-discipline.md
  .claude/rules/shadcn.md
  .claude/rules/styling.md
  .claude/skills/blog-dev/skill.md
  .claude/skills/compound-engineering/skill.md
Due: prettier

feat: M0-09~15 공통 레이아웃 컴포넌트 및 site.ts placeholder
  src/shared/components/Container.tsx
  src/shared/components/Footer.tsx
  src/shared/components/Header.tsx
  src/shared/components/MobileMenu.tsx
  src/shared/components/NavLink.tsx
  src/shared/components/ScrollToTopButton.tsx
  src/shared/components/Sidebar.tsx
  src/shared/components/SocialLinks.tsx
  src/shared/config/site.ts
Due: eslint, prettier, type-check

docs: M0-09~15 진행률 갱신 및 CHANGELOG 업데이트
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

docs: 문서 drift 제거 및 M0 진행 상태 반영
  CLAUDE.md
  README.md
  docs/AI_WORKFLOW_GUIDE.md
  docs/PRD_TECHNICAL.md
  docs/ROADMAP.md
Due: prettier

feat: slug 검증·XML 이스케이프 유틸 추가
  src/shared/utils/slug.ts
  src/shared/utils/xmlEscape.ts
Due: eslint, prettier, type-check

feat: 루트 metadata 확장 및 skip link 추가
  src/app/layout.tsx
  src/shared/config/site.ts
Due: eslint, prettier, type-check

feat: M0-16~29 라우팅 쉘 14종 및 loading.tsx
  src/app/about/page.tsx
  src/app/api/views/route.ts
  src/app/loading.tsx
  src/app/manifest.ts
  src/app/og/route.tsx
  src/app/page.tsx
  src/app/posts/[slug]/page.tsx
  src/app/posts/page.tsx
  src/app/robots.ts
  src/app/rss/route.ts
  src/app/series/[slug]/page.tsx
  src/app/series/page.tsx
  src/app/sitemap.ts
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
Due: eslint, prettier, type-check

docs: M0-16~29 진행률 및 CHANGELOG 업데이트
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

feat: M0-30~33 인프라 마무리 및 ThemeProvider 도입
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/providers.tsx
  src/shared/config/site.ts
Due: eslint, prettier, type-check

chore: 하네스 파일·룰 정화 및 스킬 파일명 표준화
  .claude/agents/quality/compound-reviewer.md
  .claude/agents/quality/garbage-collector.md
  .claude/commands/review/quality.md
  .claude/rules/autonomy.md
  .claude/rules/components.md
  .claude/rules/project-structure.md
  .claude/rules/review-discipline.md
  .claude/skills/blog-dev/skill.md
  .claude/skills/garbage-collection/references/rule-violations.md
  .claude/skills/garbage-collection/skill.md
  .claude/skills/vercel-react-best-practices/rules/rendering-content-visibility.md
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,mjs}
  prettier: any of: *.{js,ts,jsx,tsx,mjs,json,yaml,yml,md,css}
  type-check: any of: *.{ts,tsx}
