Repository chan9yu/dev-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, type-check

eslint:
  run: pnpm exec eslint {staged_files} --fix
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

type-check:
  run: pnpm exec tsc --noEmit

chore: install:vercel 스크립트 추가 + build:vercel 단순화
  package.json
Due: prettier

chore: copy-images 스크립트를 copy:images로 변경
  package.json
Due: prettier

chore: workaround.sh에 로컬 .env 자동 로드 추가
  scripts/vercel-submodule-workaround.sh
Due: none

fix: install:vercel에서 --frozen-lockfile 제거
  package.json
Due: prettier

fix: workaround.sh를 main 검증된 패턴으로 통일
  scripts/vercel-submodule-workaround.sh
Due: none

chore: Vercel 빌드 환경 정합성 강화 (function size + node engine)
  next.config.ts
  package.json
Due: eslint, prettier, type-check

chore: M4 GC 정화 — fixtures dead code 제거
  src/features/views/services/kv-client.ts
  src/shared/fixtures/index.ts
  src/shared/fixtures/post-details.ts
  src/shared/fixtures/posts.ts
  src/shared/fixtures/series.ts
  src/shared/fixtures/tags.ts
  src/shared/fixtures/trending.ts
Due: eslint, prettier, type-check

docs: M4 진행 + GC 리포트 + 카운트 정정
  CHANGELOG.md
  docs/TASKS.md
Due: prettier

feat: M5 SEO & Syndication 마일스톤 구현
  CHANGELOG.md
  docs/ROADMAP.md
  docs/TASKS.md
  src/app/__tests__/rss-feed.test.ts
  src/app/__tests__/sitemap-entries.test.ts
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/og/route.tsx
  src/app/page.tsx
  src/app/posts/[slug]/page.tsx
  src/app/posts/page.tsx
  src/app/robots.ts
  src/app/rss-feed.ts
  src/app/rss/route.ts
  src/app/series/[slug]/page.tsx
  src/app/series/page.tsx
  src/app/sitemap-entries.ts
  src/app/sitemap.ts
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/shared/config/site.ts
  src/shared/seo/JsonLdScript.tsx
  src/shared/seo/__tests__/build-metadata.test.ts
  src/shared/seo/__tests__/json-ld.test.ts
  src/shared/seo/build-metadata.ts
  src/shared/seo/index.ts
  src/shared/seo/json-ld.ts
Due: eslint, prettier, type-check

chore: M5 GC 정화 + 하네스 100점 달성
  .claude/rules/review-discipline.md
  .claude/rules/seo.md
  .claude/rules/styling.md
  .claude/rules/testing.md
  .claude/skills/blog-dev/SKILL.md
  .claude/skills/compound-engineering/SKILL.md
  .claude/skills/content-writing/SKILL.md
  .claude/skills/garbage-collection/SKILL.md
  .claude/skills/milestone-gate/SKILL.md
  .claude/skills/task-completion/SKILL.md
  docs/PRD_TECHNICAL.md
Due: prettier

refactor: skill.md → SKILL.md 네이밍 일관성
  .claude/agents/orchestration/blog-dev-orchestrator.md
  CLAUDE.md
  docs/AI_WORKFLOW_GUIDE.md
Due: prettier

chore: 에이전트 frontmatter 모델·컬러 일관성 보강
  .claude/agents/content/content-engineer.md
  .claude/agents/content/seo-auditor.md
  .claude/agents/developer/nextjs-app-router-expert.md
  .claude/agents/developer/nextjs-markup-specialist.md
  .claude/agents/documentation/docs-generator.md
  .claude/agents/orchestration/blog-dev-orchestrator.md
  .claude/agents/quality/a11y-auditor.md
  .claude/agents/quality/compound-reviewer.md
  .claude/agents/quality/garbage-collector.md
  .claude/agents/quality/react-nextjs-code-reviewer.md
Due: prettier

feat: M6 A11y & Perf 마일스톤 + E2E 결함 fix
  CHANGELOG.md
  docs/PERFORMANCE_AUDIT.md
  docs/ROADMAP.md
  docs/TASKS.md
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/features/lightbox/components/ImageLightbox.tsx
  src/features/search/components/SearchTrigger.tsx
  src/shared/components/ui/Dialog.tsx
  src/shared/components/ui/Sheet.tsx
  src/shared/config/site.ts
Due: eslint, prettier, type-check

chore: Playwright E2E 인프라 추가
  .gitignore
  e2e/home.spec.ts
  e2e/mobile-menu.spec.ts
  e2e/search.spec.ts
  e2e/theme.spec.ts
  e2e/toc.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: eslint, prettier, type-check

feat: M7 Polish 자율 영역 + LCP 회귀 fix + Vercel guard
  src/app/layout.tsx
  src/app/og/route.tsx
  src/app/posts/[slug]/page.tsx
  src/app/series/[slug]/page.tsx
  src/app/tags/[tag]/page.tsx
  src/features/posts/components/PostCard.tsx
  src/features/posts/components/PostList.tsx
  src/features/posts/components/RecentPostsList.tsx
  src/features/search/components/SearchModal.tsx
  src/features/search/components/SearchSuggestions.tsx
  src/features/search/components/__tests__/SearchModal.test.tsx
  src/features/search/components/index.ts
  src/shared/components/layouts/Footer.tsx
  src/shared/seo/build-metadata.ts
  src/shared/seo/index.ts
  src/shared/utils/motion.ts
Due: eslint, prettier, type-check

feat: 한글 slug 영역별 분리 정책 + formatLocalizedSlug 도입
  src/app/tags/page.tsx
  src/features/posts/components/PostMetaHeader.tsx
  src/features/series/services/getAllSeries.ts
  src/features/tags/components/TagChip.tsx
  src/features/tags/components/TagList.tsx
  src/features/tags/components/TrendingTags.tsx
  src/shared/utils/__tests__/formatLocalizedSlug.test.ts
  src/shared/utils/formatLocalizedSlug.ts
Due: eslint, prettier, type-check

docs: M7 진행 동기화 + M7-15 정책 결정 기록
  CHANGELOG.md
  docs/ROADMAP.md
  docs/TASKS.md
Due: prettier

docs: 한글 slug 영역별 분리 정책으로 seo.md·mdx-content.md 갱신
  .claude/rules/mdx-content.md
  .claude/rules/seo.md
Due: prettier

chore: 에이전트 frontmatter name unquoted로 일관성 통일
  .claude/agents/developer/nextjs-app-router-expert.md
  .claude/agents/developer/nextjs-markup-specialist.md
  .claude/agents/planning/prd-roadmap-architect.md
  .claude/agents/planning/prd-tech-validator.md
  .claude/agents/planning/prd-writer.md
  .claude/agents/quality/a11y-auditor.md
  .claude/agents/quality/boundary-mismatch-qa.md
  .claude/agents/quality/nextjs-test-engineer.md
  .claude/agents/quality/react-nextjs-code-reviewer.md
Due: prettier

refactor: 추론 가능한 명시 리턴 타입 제거
  src/app/og/route.tsx
  src/app/posts/[slug]/page.tsx
  src/app/rss-feed.ts
  src/app/rss/route.ts
  src/app/series/[slug]/page.tsx
  src/app/sitemap-entries.ts
  src/app/tags/[tag]/page.tsx
  src/features/about/services/getAboutContent.ts
  src/features/comments/components/CommentsSection.tsx
  src/features/posts/services/findAdjacentPosts.ts
  src/features/posts/services/getAllPosts.ts
  src/features/posts/services/getPostBySlug.ts
  src/features/posts/services/getPostDetail.ts
  src/features/posts/services/getTrendingPosts.ts
  src/features/posts/utils/calculateReadingTime.ts
  src/features/posts/utils/extractTocFromMarkdown.ts
  src/features/posts/utils/parseFrontmatter.ts
  src/features/posts/utils/sortPostsByDateDescending.ts
  src/features/search/components/SearchResultItem.tsx
  src/features/series/services/getAllSeries.ts
  src/features/series/services/getSeriesDetail.ts
  src/features/series/services/getSeriesStats.ts
  src/features/series/services/getTrendingSeries.ts
  src/features/tags/services/getPostsByTag.ts
  src/features/tags/services/getTagCounts.ts
  src/features/tags/services/getTrendingTags.ts
  src/features/theme/hooks/useTheme.ts
  src/features/views/services/kv-client.ts
  src/shared/seo/build-metadata.ts
  src/shared/seo/json-ld.ts
  src/shared/utils/formatLocalizedSlug.ts
  src/shared/utils/resolveThumbnail.ts
  src/shared/utils/slugify.ts
Due: eslint, prettier, type-check

docs: M7-09~12 완료 + v1.0.0 릴리스 노트
  CHANGELOG.md
  docs/ROADMAP.md
  docs/TASKS.md
Due: prettier

chore: 버전·룰 카운트·SSOT 매트릭스 일관성 정합화
  .claude/agents/developer/nextjs-app-router-expert.md
  .claude/agents/quality/nextjs-test-engineer.md
  .claude/agents/quality/react-nextjs-code-reviewer.md
  .claude/skills/garbage-collection/SKILL.md
  CLAUDE.md
  docs/PRD_TECHNICAL.md
Due: prettier

chore: v1.0.0 → v1.1.0 버전 통일성 정합
  CHANGELOG.md
  docs/ROADMAP.md
  docs/TASKS.md
  package.json
Due: prettier

docs: CHANGELOG.md를 Keep a Changelog 표준으로 압축 (1233 → 71줄)
  CHANGELOG.md
Due: prettier

docs: M7 완료·v1.1.0 release 반영해 진행률 정합
  README.md
  docs/TASKS.md
Due: prettier

feat: About 페이지 프로필 이미지를 GitHub avatar로 적용
  next.config.ts
  src/features/about/components/AboutProfile.tsx
  src/shared/config/site.ts
Due: eslint, prettier, type-check

fix: merge에서 회귀된 .gitignore 복원 (43→71줄)
  .gitignore
Due: none

docs: ROADMAP 체크박스 199/199 정합 + 날짜 갱신
  docs/ROADMAP.md
Due: prettier

chore: Vercel MCP 통합 — 읽기 전용 자율 범주 등록
  .claude/rules/autonomy.md
  .claude/settings.json
  .claude/skills/blog-dev/references/project-context.md
  .mcp.json
  docs/AI_WORKFLOW_GUIDE.md
Due: prettier

fix: lambda trace에 contents MDX 명시 포함 (v1.1.1)
  CHANGELOG.md
  next.config.ts
  package.json
Due: eslint, prettier, type-check

chore: dev tooling 정비 — CI · PR 템플릿 · README 정합
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yaml
  README.md
Due: prettier

fix: CI pnpm action version 충돌 해결
  .github/workflows/ci.yaml
Due: prettier

fix: CI에서 next-env.d.ts inline emit (typecheck 통과)
  .github/workflows/ci.yaml
Due: prettier

fix: contents/ runtime 의존 완전 제거 (v1.1.2)
  .gitignore
  CHANGELOG.md
  next.config.ts
  package.json
  scripts/build-search-index.mjs
  src/app/layout.tsx
  src/app/og/route.tsx
  src/app/posts/page.tsx
  src/app/rss/route.ts
  src/shared/components/mdx/CustomMDX.tsx
Due: eslint, prettier, type-check

docs: no-fallback 룰 신규 + 하네스 카운트 16개 동기화
  .claude/rules/no-fallback.md
  CLAUDE.md
  README.md
  docs/AI_WORKFLOW_GUIDE.md
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,mjs}
  prettier: any of: *.{js,ts,jsx,tsx,mjs,json,yaml,yml,md,css}
  type-check: any of: *.{ts,tsx}
